*.lo
*.o
*.la
*.so
*.a
*.exe
*.dll
*.lib
*.obj
*.pc
.deps
.libs
Makefile.in
Makefile
autom4te.cache
/twine-writer
/*.rdf
/*.trig
/*.ttl
/*.nt
/*.nq
/aclocal.m4
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
/twine.conf
