[submodule "libsupport"]
	path = libsupport
	url = git://github.com/bbcarchdev/libsupport.git
[submodule "m4"]
	path = m4
	url = git://github.com/bbcarchdev/m4.git
[submodule "libsparqlclient"]
	path = libsparqlclient
	url = git://github.com/bbcarchdev/libsparqlclient.git
[submodule "docbook-html5"]
	path = docbook-html5
	url = git://github.com/bbcarchdev/docbook-html5.git
[submodule "docs"]
	path = docs
	url = git://github.com/bbcarchdev/twine.git
[submodule "libs3client"]
	path = libs3client
	url = git://github.com/bbcarchdev/libs3client.git
