Source: twine
Section: misc
Priority: optional
Maintainer: Mo McRoberts <mo.mcroberts@bbc.co.uk>
Standards-Version: 3.9.3
Build-Depends: debhelper (>= 8.0.0), autoconf, automake, libtool, libcurl4-gnutls-dev, librdf0-dev, liburi-dev, libsparqlclient-dev, libltdl-dev, libqpid-proton-dev, libxml2-dev, libxslt1-dev, uuid-dev

Package: libtwine
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, libsparqlclient
Description: Linked Data workflow engine (module API)

Package: twine
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, libtwine
Description: Linked Data workflow engine

Package: libtwine-dev
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, libsparqlclient-dev, librdf0-dev
Description: Linked Data workflow engine (module API development files)
